#start-btn
{
    width: 40%;
} 
#camera, #picture
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo
{
    width: 150px;
    border-radius: 100px;
}
#voice_text
{
    width: 300px;
}
